@import "normalize.css";
@import "variables.css";

@font-face {
  font-family: "Manrope";
  src: url("fonts/Manrope/Manrope-VariableFont_wght.ttf") format("truetype");
  font-weight: 200 800;
  font-style: normal;
  font-display: swap;
}

* {
  color: var(--font-color-main);
}

body {
  background-color: var(--background-main);
  font-family:
    "Manrope",
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    sans-serif;
}

a {
  text-decoration: none;
}
