:root {
  --background-main: rgba(244, 244, 244, 1);
  --font-color-main: rgba(25, 25, 25, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-blue-main: rgba(106, 11, 255, 1);
  --color-border-light: rgba(230, 230, 230, 1);
}
