.header {
  display: flex;
  cursor: pointer;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.container {
  display: flex;
  flex-direction: column;
  padding-bottom: 16px;
}

.title {
  padding-left: 16px;
  margin: 0;
  font-style: Medium;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.4;
}
