.container {
  align-self: flex-start;
  background-color: var(--color-white);
  border-radius: 24px;
  padding: 24px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  box-sizing: border-box;
  flex: 0 1 360px;
}

.metric {
  padding: 0;
  display: flex;
  gap: 16px;
  flex-wrap: wrap;
}

.skills {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.keywords {
  color: var(--color-blue-main);
  display: flex;
  gap: 14px;
  flex-wrap: wrap;
}
