.container {
  width: 296px;
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
}

.button {
  margin-top: 8px;
  color: var(--color-purple-text);
  text-decoration: underline;
  background-color: var(--color-white);
  border: none;
}

.button:hover {
  transform: scale(1.01);
}
