.button {
  background-color: var(--color-white);
  border-radius: 12px;
  font-size: 16px;
  font-weight: 500;
  padding: 10px 12px 10px 12px;
  border: 1px solid var(--color-border-gray);
}
.outline {
  border: 1px solid var(--color-black-border);
}

.primary {
  border: 1px solid var(--color-blue-main);
}


.button:hover {
  transform: scale(1.001);
}
