.container {
  position: relative;
}

.searchImage {
  position: absolute;
  top: 14px;
  left: 24px;
}

.input {
  box-sizing: border-box;
  padding: 13px 0 13px 52px;
  width: 100%;
  height: 48px;
  border-radius: 68px;
  border: 1px solid var(--color-border-gray);
  outline: none;
}