.container {
  background-color: var(--color-white);
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
  border-radius: 24px;
  width: 100%;
  min-width: 0;
  max-width: 804px;
  padding: 24px 20px 40px 20px;
  box-sizing: border-box;
}

.title {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 500;
  border-bottom: 1px solid var(--color-black-border);
  min-height: 47px;
  padding-bottom: 8px;
}
