.card {
  list-style: none;
  border-bottom: 1px solid var(--color-black-border);
  margin-top: 24px;
  padding-bottom: 16px;
}

.header {
  margin-bottom: 12px;
}

.metrics {
  display: flex;
  gap: 40px;
  margin-bottom: 12px;
}

.lines {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.paginationRow {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}
