.container {
  background-color: var(--color-white);
  box-shadow: 0px 4px 10px 0px rgba(106, 99, 118, 0.1);
  border-radius: 24px;
  width: 804px;
  padding: 24px 20px 40px 20px;
}

.title {
  font-style: Medium;
  font-size: 24px;
  font-weight: 500;
  border-bottom: 1px solid var(--color-black-border);
  height: 47px;
}
