.title {
  font-size: 24px;
  font-weight: 500;
}

.description {
  color: var(--color-black-text);
  font-size: 16px;
  font-weight: 500;
  line-height: 22px;
  word-wrap: break-word;
  overflow-wrap: break-word;
}
