.container {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
}

.arrowButton {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  outline: none;
}

.arrowButton:hover {
  opacity: 0.7;
  transform: scale(1.1);
}

.arrowButton:disabled {
  cursor: not-allowed;
  opacity: 0.3; /* Чтобы было понятно, что нажать нельзя */
}

.pageItem {
  padding: 2px 6px;
  background-color: var(--background-white);
  border: none;
  font-size: 14px;
  font-weight: 500;
}

.pageItem:hover:not(.active) {
  opacity: 0.7;
  transform: scale(1.1);
}

.active {
  background-color: var(--color-blue-main);
  color: white;
  border-radius: 2px;
}
