.navLinks {
  display: flex;
  align-items: center;
  gap: 32px;
}

.link {
  color: var(--font-color-main);
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  transition: opacity 0.2s;
}

.link:hover {
  opacity: 0.7;
}

.link.active {
  font-weight: 600;
}
