.questionItem {
  list-style: none;
  position: relative;
  line-height: 22px;

  border-bottom: 1px solid var(--color-black-border);
  margin-top: 24px;
}

.accordionBody {
  display: flex;
  flex-direction: column;
}

.questionItem::before {
  content: "";
  position: absolute;
  left: -2px;
  top: 11px;
  width: 8px;
  height: 8px;
  background-image: url("@/shared/assets/icons/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.questionMetric {
  display: flex;
  gap: 40px;
}

.panel {
  padding: 24px;
}

code {
  border-radius: 24px;
}

.link {
  color: var(--color-blue-main);
  align-self: flex-end;
  display: flex;
  gap: 8px;
}
