.badge {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  border-radius: 12px;
  border: 1px solid var(--color-blue-main);
  height: 40px;
  padding: 10px 12px;
  display: flex;
  justify-content: center;
  align-items: center;
}
